/*Calender type-2 :with light borders on dates*/
.rb-calendar-header-type2 {
  button {
    width: 13%;
    height: 30px;
  }
  p {
    width: 70%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
  }
}

.rb-calendar-dates-type2 {
  width: 100%;
  margin-top: 20px;
  .rb-calendar-header {
    padding: 0px !important;
  }
  thead {
    display: block;
    padding: 0px 8px;
  }
  th div, td div {
    font-size: 11px;
    font-weight: 100;
    padding: 12px;
  }
  tbody {
    display: block;
  }
  .rb-calendar-date-selected-range {
    color: $rb-light-theme-secondary-light;
  }
  div.rb-calendar-date-selected {
    padding: 12px;
  }
  .rb-calendar-date-selected-container {
    padding: 0px;
  }
  tbody tr {
    background: image-url("bosch/horizontal_calender_seperator.png") no-repeat 0 0;
  }
  tbody tr:first-child {
    background-image: none !important;
  }
  tbody tr td {
    background: image-url("bosch/vertical_calender_seperator.png") no-repeat 0 0;
  }
  tbody tr td:first-child {
    background-image: none !important;
  }
}

